name: SMS Bot 24/7

on:
  schedule:
    - cron: '0 */4 * * *' # প্রতি ৬ ঘণ্টা পর পর অটোমেটিক রিস্টার্ট হবে
  workflow_dispatch: # ম্যানুয়ালি চালু করার জন্য

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Bot
        env:
          PYTHONUNBUFFERED: 1
        run: python bot.py
